@charset "UTF-8";

@media print{

}
@media screen and (min-width: 768px) and (max-width: 992px){ /*tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
        background-position: center center;
    }
    #pc{display: none;}
    #print{display: none;}
    #tv{display: none;}
    #tablet{display: block;}
    #phone{display: none;}
}
@media screen and (min-width: 992px) and (max-width: 1200px){ /*desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
        background-position: center center;
    }
    #pc{display: block;}
    #print{display: none;}
    #tv{display: none;}
    #tablet{display: none;}
    #phone{display: none;}
}
@media screen and (min-width: 1200px){ /*tv*/
    body{
        background-image: url(../imagens/back-tv.jpg);
        background-position: center center;
    }    
    #pc{display: none;}
    #print{display: none;}
    #tv{display: block;}
    #tablet{display: none;}
    #phone{display: none;}
}