@charset "UTF-8";

@media screen and (max-width: 768px){        
    #amburguer{
        background-color:rgb(73, 73, 73);
        display: block;
        margin-bottom: 2px;
        padding: 8px;
    }    
    #menu{
        display: none;
    }
}