@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
body{
    background: url(../media/imagens/fundo-madeira.jpg) left center no-repeat fixed;
    background-size: cover;
}
main {    
    position: relative;
    height: 100vh;    
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    background: url(../media/imagens/frame-iphone.png) no-repeat fixed;
    height: 627px;
    width: 311px;
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 266px;
    height: 472px;    
}
section#redes-sociais{
    text-align: right;
}
section#redes-sociais img{
    width: 80px;
    margin: 20px;
    border-radius: 50%;
    text-align: right;    
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.824);
    box-sizing: border-box;
}
section#redes-sociais img:hover{
    border: 4px solid rgba(255, 255, 255, 0.459);
    transform: translate(-10px, -10px);
    box-shadow: 4px 4px 8px rgb(0, 0, 0);
    transition: transform .2s, border .2s;    
}